lfwAO7_u.zip filter=lfs diff=lfs merge=lfs -text
lfw.zip filter=lfs diff=lfs merge=lfs -text
lfwAO1_u.zip filter=lfs diff=lfs merge=lfs -text
lfwAO2_u.zip filter=lfs diff=lfs merge=lfs -text
lfwAO3_u.zip filter=lfs diff=lfs merge=lfs -text
lfwAO4_u.zip filter=lfs diff=lfs merge=lfs -text
lfwAO5_u.zip filter=lfs diff=lfs merge=lfs -text
lfwAO6_u.zip filter=lfs diff=lfs merge=lfs -text
